@import "../sass/variable/variable";
@import "../sass/mixin/mixin";
// responsive-common part----
@media (max-width: 575px) {
    #navbar{
        .breakNone{
            .sMmdnone{
                display: none;
            }
        }
        .mobile-view{
            display: block;
            z-index: 99;
        }
    }
    // footer----
    #footer{
        margin-bottom: 30px;
    }
}
@media (max-width: 1200px) {
    #navbar{
        .noneTogbutton{
            display: none !important;
        }
        .ULicon{
            margin-bottom: 0px !important;
        }
    }
}
@media (min-width: 576px) and (max-width: 1199.98px) {
    #navbar{
        .ULicon{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 0 !important;
            li.set-login:hover{
                .ulogo-abslt{
                    opacity: 1;
                    visibility: visible;
                    top:100%;
                }
            }
            li{
                margin-left: 20px;
                padding: 30px 0;
                position: relative;
                .ulogo-abslt{
                    padding: 15px 20px 50px;
                    background: #fff;
                    position: absolute;
                    right: 0%;
                    top: 130%;
                    z-index: 10;
                    min-width: 170px;
                    box-shadow: 0 0 3px 1px #ebebeb;
                    opacity: 0;
                    visibility: hidden;
                    transition: all linear .3s;
                    .blc-ul{
                        display: block;
                        h1{
                            font-size: 16px;
                            text-transform: capitalize;
                            color: #333;
                            font-weight: 700;
                        }
                        .lan-li{
                            display: block;
                            padding-left: 17px;
                            padding-top: 5px;
                            padding-bottom: 0;
                            margin: 0;
                            a{
                                color: #222;
                                font-weight: 400;
                                font-size: 16px;
                                text-transform: capitalize;
                                cursor: pointer;
                            }
                        }
                    }
                }
                img{
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
                a{
                    cursor: pointer;
                }
            }
            .cart-li{
                position: relative;
                .absolute-0{
                    position: absolute;
                    background: var(--theme-deafult);
                    width: 20px;
                    height: 20px;
                    color: #fff;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 600;
                    top: 15%;
                    left: 52%;
                }
                .addcurt{
                    position: absolute;
                    right: 0;
                    top: 130%;
                    display: block;
                    background: rgb(255, 255, 255);
                    box-shadow: 0 5px 10px 1px #ebebeb;
                    z-index: 10;
                    transition: all linear .3s;
                    opacity: 0;
                    visibility: hidden;
                    .ul-MT{
                        padding: 15px;
                        min-width: 270px;
                        max-height: 315px;
                        margin: 0;
                        h5{
                            font-size: 16px;
                            font-weight: 400;
                            color: #222;
                            line-height: 24px;
                            letter-spacing: .05em;
                            margin: 0;
                        }
                    }
                }
                &:hover .addcurt{
                    opacity: 1;
                    visibility: visible;
                    top:100%;
                }
            }
        }
        .noneNave{
            display: none !important;
        }
    }
}
// responsive part-----------
@media (max-width: 575.98px) {
    /*topper*/
    .toping{
        bottom: 3%;
    }
    /*chat part*/
    .chatboot{
        display: none;
    }
    /*header part*/
    #header{
        display: none;
    }
    /*navbar part*/
    #navbar{
        .navbar{
            .navbar-brand{
                max-width: 156px !important;
                img{
                    width: 100%;
                }
            }
        }
    }
    /*banner part*/
    #banner{
        padding: 0 !important;
        margin: 0 !important;
        .banner_caption{
            padding: 80px 0 !important;
            max-width: 250px;
            h4{
                font-size: 16px !important;
                letter-spacing: .01em !important;
            }
            h1{
                font-size: 25px !important;
            }
            a{
                margin-top: 8px !important;
                padding: 5px 15px !important;
            }
        }
    }
    /*offer part*/
    #offer{
        padding: 20px 0 !important;
        margin: 0 !important;
        .offer-man{
            max-width: 80% !important;
            height: fit-content !important;
            margin-bottom: 10px !important;
            margin: auto;
            img{
                width: 100%;
            }
            h4{
                font-size: 16px !important;
            }
            h1{
                font-size: 25px !important;
            }
        }
    }
    /*collection*/
    #collection{
        padding:20px 0;
        .top-heading{
            text-align: center;
            h4{
                background: transparent;
            }
            h2{
                font-size: 25px;
            }
        }
        .main-collection{
            .display{
                width: unset !important;
                height: fit-content;
            }
        }
    }
    /*year*/
    #year{
        padding: 60px 0 !important;
        .year-caption{
            margin: auto;
            float: none !important;
            span{
                font-size: 55px !important;
    
            }
            h1{
                font-size: 30px
    
            }
            h4{
                font-size: 18px !important;
                letter-spacing: .3em !important;
    
            }
        }
    }
    /*exclusive*/
    #exclusive{
        padding: 35px 0 !important;
        .ex-caption{
            text-align: center;
            h4{
                font-size: 18px;
                letter-spacing: .03em;
            }
            h2{
                font-size: 22px !important;
            }
            ul.xclusive_btn{
                li{
                    margin: 0 15px !important;
                    font-size: 16px !important;
                }
            }
        }
        .ex-gallery{
            .main-collection{
                padding-top: 20px !important;
                margin: 0 5%;
                .m-item{
                    
                    max-width: 550px !important;
                    height: min-content !important;
                }
            }
        }
        .open-support{
            flex-direction: column !important;
            align-items: center !important;
            .supp-icon{
                display: block !important;
                border: none !important;
                text-align: center !important;
                padding: 0 !important;
                .icon{
                    display: inline-block;
                    text-align: center;
                    svg{
                        width: 46px !important;
                    }
                }
            }
        }
    }
    /*blog*/
    #blog{
        .blog-heading{
            h2{
                font-size:30px !important;
            }
        }
        .blog-store{
            h4{
                font-size: 13px !important;
            }
            h5{
                font-size: 13px !important;
            }
            a{
                h3{
                    font-size: 14px !important;
                }
            }
        }
    }
    /*footer*/
    #footer{
        .newesleter{
            width: 100%;
            display: block !important;
            text-align: center !important;
            border-bottom: 1px solid rgb(228, 228, 228);
            padding: 35px 0;
            .n-left{
                display:block !important;
                border-right: none !important;
                h4{
                    font-weight: 600 !important;
                    font-size: 18px;
                    letter-spacing: .03em;
                    margin-bottom: 17px !important;
                    color:#222;
                }
                p{
                    display: none !important;
                }
            }
            .n-right{
                input{
                    max-width: 300px;
                    margin-right: 0px !important;
                }
                .Ccmn-btn{
                    margin: 0 !important;
                    padding: 13px 5px !important;
                }
            }
        }
        .footer-body{
            padding: 20px 0 !important;
            display: block !important;
            .ab_out{
                display: block !important;
                width: 100%;
                padding-bottom: 20px !important;
                h4{
                    color:#222;
                    border-bottom: 1px solid #ddd !important;
                }
            }
            .footer-logo{
                display: block !important;
                padding: 0 !important;
                .f-logo{
                    display: block !important;
                    padding-bottom: 15px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px !important;
                    letter-spacing: .03em;
                    margin-bottom: 0px !important;
                }
                .icon-scl{
                    margin: 0 0 20px 0 !important;
                    gap:25px !important;
                    i{
                        font-size: 18px !important;
                    }
                }
            }
            .resp575{
                ul{
                    margin:20px 0 0 0 !important;
                    padding: 0 !important;
                    h4{
                        border-bottom: 1px solid #ddd !important;
                    }
                    li{
                        padding-top: 0 !important;
                    }
                }
            }
        }
        .privachy{
            .copyright{
                text-align: center !important;
            }
            .visa-card{
                display: block;
                text-align: center !important;
                margin-top: 15px;
            }

        }
    }
    // blog-details---------
    #footer{
        .footer-body{
            .f-ul-1,
            .f-ul-2,
            .f-ul-3{
                ul{
                    margin-left: 0 !important;
                    h4{
                        padding: 20px 0 10px 0 !important;
                        margin: 0 !important;
                    }
                    li{
                        margin:0 !important;
                        padding:0 !important;
                    }
                }
            }
        }
    }
};
@media (min-width: 576px) and (max-width: 766.98px) {
    /*topper*/
    .toping{
        bottom: 15%;
        right: 2.6%;
    }
    /*chat part*/
    .chatboot{
        display: block;
    }
    /*header part*/
    #header{
        display: none;
    }
    /*navbar part*/
    #navbar{
        .navbar{
            .collapse{
                .ULicon{
                    display: block !important;
                }

            }
            .navbar-brand{
                max-width: 180px !important;
                img{
                    width: 100%;
                }
            }
            .navbar-toggler{
                border: none;
                padding: 0;
            }
        }
        .mobile-view{
            display: block;
            z-index: 99;
        }
    }
    /*banner part*/
    #banner{
        padding: 0 !important;
        margin: 0 !important;
        .banner_caption{
            padding: 100px 0 !important;
            max-width: 280px;
            h4{
                font-size: 18px !important;
                letter-spacing: .01em !important;
            }
            h1{
                font-size: 30px !important;
            }
            a{
                margin-top: 8px !important;
                padding: 8px 15px !important;
            }
        }
    }
    /*offer part*/
    #offer{
        padding: 30px 0 !important;
        margin: 0 !important;
        .offer-man{
            max-width: 100% !important;
            height: fit-content !important;
            margin-bottom: 10px !important;
            margin: auto;
            img{
                width: 100%;
            }
            h4{
                font-size: 18px !important;
            }
            h1{
                font-size: 30px !important;
            }
        }
    }
    /*collection*/
    #collection{
        padding:25px 0;
        .top-heading{
            text-align: center;
            h4{
                background: transparent;
            }
            h2{
                font-size: 30px;
            }
        }
        .main-collection{
            .display{
                width: unset !important;
                height: fit-content;
            }
        }
    }
    /*year*/
    #year{
        padding: 70px 0 !important;
        .year-caption{
            margin: auto;
            float: none !important;
            span{
                font-size: 60px !important;
    
            }
            h1{
                font-size: 35px
    
            }
            h4{
                font-size: 20px !important;
                letter-spacing: .3em !important;
    
            }
        }
    }
    /*exclusive*/
    #exclusive{
        padding: 40px 0 !important;
        .ex-caption{
            text-align: center;
            h4{
                font-size: 18px;
                letter-spacing: .03em;
            }
            h2{
                font-size: 30px !important;
            }
            ul.xclusive_btn{
                li{
                    margin: 0 15px !important;
                    font-size: 16px !important;
                }
            }
        }
        .ex-gallery{
            .main-collection{
                padding-top: 20px !important;
                .m-item{
                    width: 252px !important;
                    height: min-content !important;
                }
            }
        }
        .open-support{
            flex-direction: column !important;
            align-items: center !important;
            .supp-icon{
                display: block !important;
                border: none !important;
                text-align: center !important;
                padding: 0 !important;
                .icon{
                    display: inline-block;
                    text-align: center;
                    svg{
                        width: 50px !important;
                    }
                }
            }
        }
    }
    /*blog*/
    #blog{
        .blog-heading{
            h2{
                font-size:30px !important;
            }
        }
        .blog-store{
            h4{
                font-size: 15px !important;
            }
            h5{
                font-size: 15px !important;
            }
            a{
                h3{
                    font-size: 17px !important;
                }
            }
        }
    }
    /*footer*/
    #footer{
        margin-bottom: 30px;
        .newesleter{
            width: 100%;
            display: block !important;
            text-align: center !important;
            border-bottom: 1px solid rgb(228, 228, 228);
            padding: 35px 0;
            .n-left{
                display:block !important;
                border-right: none !important;
                h4{
                    font-weight: 600 !important;
                    font-size: 20px;
                    letter-spacing: .03em;
                    margin-bottom: 20px !important;
                    color:#222;
                }
                p{
                    display: none !important;
                }
            }
            .n-right{
                input{
                    max-width: 350px;
                    margin-right: 0px !important;
                }
                .Ccmn-btn{
                    margin: 0 !important;
                    padding: 13px 9px !important;
                }
            }
        }
        .footer-body{
            padding: 20px 0 !important;
            display: block !important;
            .ab_out{
                display: block !important;
                width: 100%;
                padding-bottom: 20px !important;
                h4{
                    color:#222;
                    border-bottom: 1px solid #ddd !important;
                }
            }
            .footer-logo{
                display: block !important;
                padding: 0 !important;
                .f-logo{
                    display: block !important;
                    padding-bottom: 15px;
                }
                p{
                    font-size: 15px;
                    line-height: 20px !important;
                    letter-spacing: .03em;
                    margin-bottom: 0px !important;
                }
                .icon-scl{
                    margin: 0 0 20px 0 !important;
                    gap:25px !important;
                    i{
                        font-size: 20px !important;
                    }
                }
            }
            .resp575{
                ul{
                    margin:20px 0 0 0 !important;
                    padding: 0 !important;
                    h4{
                        border-bottom: 1px solid #ddd !important;
                    }
                    li{
                        padding-top: 0 !important;
                    }
                }
            }
        }
        .privachy{
            .copyright{
                text-align: center !important;
            }
            .visa-card{
                display: block;
                text-align: center !important;
                margin-top: 15px;
            }
        }
    }
}
@media (min-width: 767px) and (max-width: 991.98px) {
    /*topper*/
    .toping{
        bottom: 15%;
        right: 2.6%;
    }
    /*chat part*/
    .chatboot{
        display: block;
    }
    /*header part*/
    #header{
        display: block;
        .hedr-6a{
            display: none;
        }
        .hedr-6b{
            display: block;
        }
    }
    /*navbar part*/
    #navbar{
        .navbar{
            .collapse{
                .ULicon{
                    display: block !important;
                }

            }
            .navbar-brand{
                max-width: 180px !important;
                img{
                    width: 100%;
                }
            }
            .navbar-toggler{
                border: none;
                padding: 0;
            }
        }
    }
    /*banner part*/
    #banner{
        padding: 0 !important;
        margin: 0 !important;
        .banner_caption{
            padding: 150px 0 !important;
            max-width: 355px;
            h4{
                font-size: 20px !important;
                letter-spacing: .01em !important;
            }
            h1{
                font-size: 40px !important;
            }
            a{
                margin-top: 10px !important;
                padding: 10px 20px !important;
            }
        }
    }
    /*offer part*/
    #offer{
        padding: 30px 0 !important;
        margin: 0 !important;
        .offer-man{
            max-width: 100% !important;
            height: fit-content !important;
            margin-bottom: 10px !important;
            margin: auto;
            img{
                width: 100%;
            }
            h4{
                font-size: 18px !important;
            }
            h1{
                font-size: 40px !important;
            }
        }
    }
    /*collection*/
    #collection{
        padding:25px 0;
        .top-heading{
            text-align: center;
            h4{
                background: transparent;
            }
            h2{
                font-size: 35px;
            }
        }
        .main-collection{
            .display{
                max-width: 324px !important;
                height: fit-content;
            }
        }
    }
    /*year*/
    #year{
        padding: 90px 0 !important;
        .year-caption{
            margin: auto;
            float: none !important;
            span{
                font-size: 70px !important;
    
            }
            h1{
                font-size: 40px
    
            }
            h4{
                font-size: 25px !important;
                letter-spacing: .3em !important;
    
            }
        }
    }
    /*exclusive*/
    #exclusive{
        padding: 40px 0 !important;
        .ex-caption{
            text-align: center;
            h4{
                font-size: 20px;
                letter-spacing: .03em;
            }
            h2{
                font-size: 35px !important;
            }
            ul.xclusive_btn{
                li{
                    margin: 0 15px !important;
                    font-size: 16px !important;
                }
            }
        }
        .ex-gallery{
            .main-collection{
                padding-top: 20px !important;
                .m-item{
                    max-width: 320px !important;
                    height: min-content !important;
                }
            }
        }
        .open-support{
            .supp-icon{
                padding: 0 12px !important;
                .icon{
                    padding: 0 !important;
                    svg{
                        width: 45px !important;
                    }
                }
                span{
                    h4{
                        font-size: 16px !important;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    /*blog*/
    #blog{
        .blog-heading{
            h2{
                font-size:35px !important;
            }
        }
        .blog-store{
            h4{
                font-size: 18px !important;
            }
            h5{
                font-size: 16px !important;
            }
            a{
                h3{
                    font-size: 18px !important;
                }
            }
        }
    }
    /*footer*/
    #footer{
        width: 100%;
        .newesleter{
            text-align: center;
            width: 100%;
            display: block !important;
            .n-left{
                border-right: none !important;
                margin-bottom: 15px !important;
                h4{
                    color: #222;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;
                    font-size: 18px;
                    letter-spacing: .03em;
                    line-height: 1;
                }
                p{
                    display: none;
                }
            }
            .n-right{
                text-align: center;
                width: 100%;
                display: block !important;
                input{
                    padding: 13px;
                    width: 345px;
                    border-radius: 0;
                    border: 1px solid #eeeeee;
                    margin-right: 15px;
                }
                .Ccmn-btn{
                    margin-top: 0 !important;
                    @include Ccmn-btn;
                }
            }
        }
        .footer-body{
            padding: 30px 0 !important;
            .ab_out{
                display: none;
            }
            .footer-logo{
                flex-basis: 50% !important;
                padding: 0 12px 0 0;
                .f-logo{
                    padding-bottom: 15px;
                }
                p{
                    font-size: 14px;
                    line-height: 32px;
                    letter-spacing: .03em;
                }
                .icon-scl{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap:45px;
                    cursor: pointer;
                    i{
                        font-size: 20px;
                        color: #000;
                        transition: .5s ease;
                        &:hover{
                            color:var(--theme-deafult);
                        }
                    }
                }
            }
            .f-ul-1{
                flex-basis: 50% !important;
                ul{
                    margin-left: 0px !important;
                }
            }
            .f-ul-2{
                flex-basis: 50% !important;
                ul{
                    margin:30px 0 0 0 !important;
                }
            }
            .f-ul-3{
                flex-basis: 50% !important;
                ul{
                    margin:30px 0 0 0 !important;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*topper*/
    .toping{
        bottom: 15%;
        right: 2.6%;
    }
    /*chat part*/
    .chatboot{
        display: block;
    }
    /*header part*/
    #header{
        display: block;
        .hedr-6a{
            display: none;
        }
        .hedr-6b{
            display: block;
        }
    }
    /*navbar part*/
    #navbar{
        .navbar{
            .collapse{
                .ULicon{
                    display: block !important;
                }

            }
            .navbar-brand{
                max-width: 180px !important;
                img{
                    width: 100%;
                }
            }
            .navbar-toggler{
                border: none;
                padding: 0;
            }
        }
    }
    /*banner part*/
    #banner{
        padding: 0 !important;
        margin: 0 !important;
        .banner_caption{
            padding: 150px 0 !important;
            max-width: 355px;
            h4{
                font-size: 20px !important;
                letter-spacing: .01em !important;
            }
            h1{
                font-size: 40px !important;
            }
            a{
                margin-top: 10px !important;
                padding: 10px 20px !important;
            }
        }
    }
    /*offer part*/
    #offer{
        padding: 30px 0 !important;
        margin: 0 !important;
        .offer-man{
            max-width: 100% !important;
            height: fit-content !important;
            margin-bottom: 10px !important;
            margin: auto;
            img{
                width: 100%;
            }
            h4{
                font-size: 18px !important;
            }
            h1{
                font-size: 40px !important;
            }
        }
    }
    /*collection*/
    #collection{
        padding:25px 0;
        .top-heading{
            text-align: center;
            h4{
                background: transparent;
            }
            h2{
                font-size: 35px;
            }
        }
        .main-collection{
            .display{
                max-width: 324px !important;
                height: fit-content;
            }
        }
    }
    /*year*/
    #year{
        padding: 90px 0 !important;
        .year-caption{
            margin: auto;
            float: none !important;
            span{
                font-size: 70px !important;
    
            }
            h1{
                font-size: 40px
    
            }
            h4{
                font-size: 25px !important;
                letter-spacing: .3em !important;
    
            }
        }
    }
    /*exclusive*/
    #exclusive{
        padding: 40px 0 !important;
        .ex-caption{
            text-align: center;
            h4{
                font-size: 20px;
                letter-spacing: .03em;
            }
            h2{
                font-size: 35px !important;
            }
            ul.xclusive_btn{
                li{
                    margin: 0 15px !important;
                    font-size: 16px !important;
                }
            }
        }
        .ex-gallery{
            .main-collection{
                padding-top: 20px !important;
                .m-item{
                    max-width: 450px !important;
                    height: min-content !important;
                }
            }
        }
        .open-support{
            .supp-icon{
                padding: 0 12px !important;
                .icon{
                    padding: 0 !important;
                    svg{
                        width: 45px !important;
                    }
                }
                span{
                    h4{
                        font-size: 16px !important;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    /*blog*/
    #blog{
        .blog-heading{
            h2{
                font-size:35px !important;
            }
        }
        .blog-store{
            h4{
                font-size: 18px !important;
            }
            h5{
                font-size: 16px !important;
            }
            a{
                h3{
                    font-size: 18px !important;
                }
            }
        }
    }
    /*footer*/
    #footer{
        width: 100%;
        .newesleter{
            text-align: center;
            width: 100%;
            display: block !important;
            .n-left{
                border-right: none !important;
                margin-bottom: 15px !important;
                h4{
                    color: #222;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;
                    font-size: 18px;
                    letter-spacing: .03em;
                    line-height: 1;
                }
                p{
                    display: none;
                }
            }
            .n-right{
                text-align: center;
                width: 100%;
                display: block !important;
                input{
                    padding: 13px;
                    width: 345px;
                    border-radius: 0;
                    border: 1px solid #eeeeee;
                    margin-right: 15px;
                }
                .Ccmn-btn{
                    margin-top: 0 !important;
                    @include Ccmn-btn;
                }
            }
        }
        .footer-body{
            padding: 30px 0 !important;
            .ab_out{
                display: none;
            }
            .footer-logo{
                flex-basis: 50% !important;
                padding: 0 12px 0 0;
                .f-logo{
                    padding-bottom: 15px;
                }
                p{
                    font-size: 14px;
                    line-height: 32px;
                    letter-spacing: .03em;
                }
                .icon-scl{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap:45px;
                    cursor: pointer;
                    i{
                        font-size: 20px;
                        color: #000;
                        transition: .5s ease;
                        &:hover{
                            color:var(--theme-deafult);
                        }
                    }
                }
            }
            .f-ul-1{
                flex-basis: 50% !important;
                ul{
                    margin-left: 0px !important;
                }
            }
            .f-ul-2{
                flex-basis: 50% !important;
                ul{
                    margin:30px 0 0 0 !important;
                }
            }
            .f-ul-3{
                flex-basis: 50% !important;
                ul{
                    margin:30px 0 0 0 !important;
                }
            }
        }
    }
}
@media (min-width: 1200px){
    #navbar{
        .breakNone{
            .sMmdnone{
                display: none;
            }
        }
        .nonefa-Bars{
            display: none;
        }
    }
}