@import "../mixin/mixin";
@import "../variable/variable";

/* add to cart stert--------------*/
#addcurt{
    display: block;
    background: #fff;
    .cart_caption{
        background: #f8f8f8;
        padding: 30px 0;
        .container{
            .row{
                .crt_cption{
                    display: flex;
                    justify-content: space-between;
                    span{
                        color: #222;
                        text-transform: uppercase;
                        font-weight: 700;
                        line-height: 1;
                        letter-spacing: .02em;
                    }
                }
            }
        }
    }
    .container{
        .cart_row_30{
            padding: 50px 0;
            .itm_details7{
                border-top: none;
                border-bottom: 1px solid #eee;
                border-top: none;
                display: flex;
                padding: 12px 0;
                .spn7{
                    flex-basis: 17%;
                    font-weight: 900;
                    color: #222;
                    text-transform: uppercase;
                    font-size: 14px;
                    border-top: 0;
                    text-align: center;

                }
            }
            .itm_details8{
                border-bottom: 1px solid #eee;
                border-top: none;
                display: flex;
                padding: 12px 0;
                align-items: center;
                .span8{
                    flex-basis: 17%;
                    font-weight: 900;
                    color: #222;
                    text-transform: capitalize;
                    font-size: 14px;
                    border-top: 0;
                    text-align: center;
                }
                .spnimg{
                    width: 66px;
                    height: 90px;
                    img{
                        width: 66px;
                        height: 90px;
                    }
                }
                .spn_input{
                    .table4{
                        display: inline-flex;
                        width: unset;
                        border: 1px solid #d3d3d3;
                        .ifont{
                            font-size: 14px;
                            padding: 12px 8px;
                            border: none;
                            background: transparent;
                        }
                        input{
                            width: 80px;
                            text-align: center;
                            outline: none;
                            background: #e9ecef;
                            background-clip: padding-box;
                            border: none;
                            border-left: 1px solid #ced4da;
                            border-right: 1px solid #ced4da;
                        }
                    }
                }
                .spn_total{
                    color:#ea3535;
                }
                .spn_typ_dress{
                    a{
                        color: #777;
                        font-weight: 400;
                        font-size: 14px;
                        text-transform: capitalize;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .net_price{
            display: flex;
            justify-content: right;
            padding-left: 100px;
            align-items: center;
            padding: 15px 80px;
            h3{
                padding-left: 50px;
            }
        }
        .cartbtnn{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-right: 60px;
            padding-bottom: 60px;
            a{
                @include Ccmn-btn-sasscribe;
            }
        }
    }                            
}