@import "../mixin/mixin";
@import "../variable/variable";
/*subpage woman stylish fashion part------------------*/
#stylWoman{
    .sWoman_header{
        padding: 30px 0;
        background: #f8f8f8;
        .container{
            .row{
                .col-lg-12{
                    .sWmain{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h4{
                            font-size: 16px;
                            margin-bottom: 0;
                            color: #222;
                            text-transform: uppercase;
                            font-weight: 700;
                            line-height: 1;
                            letter-spacing: .02em;
                        }
                    }
                }
            }
        }
    }
    .container{
        .row_swf_row{
            padding: 70px 0;
            .toggls{
                padding-right: 12px;
                .trim_category{
                    width: 100%;
                    padding: 30px;
                    .trimh3{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        span{
                            position: relative;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-size: 16px;
                            color: #444;
                            font-weight: 600;
                        }
                    }
                    .trim_inner{
                        width: 100%;
                        height: 100%;
                        padding-right: 2px;
                        .trim_demo{
                            width: 100%;
                            max-height: 180px;
                            margin-top: 20px;
                            overflow-y: scroll;
                            .trimli{
                                display: block;
                                margin: 0 0 7px 0;
                                a{
                                    font-size: 16px;
                                    text-transform: capitalize;
                                    line-height: 18px;
                                    color: #777;
                                }
                            }
                        }
                        .trimul_sw1,.trimul_sw3{
                            background: transparent;
                        }
                        .trimul_sw2,.trimul_sw3,.trimul_sw4{
                            margin-top: 30px;
                            .trimli{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                gap:5px;
                                margin: 0 0 12px 0;
                                input{
                                    background: transparent;
                                }
                                label{
                                    text-transform: uppercase;
                                    cursor: pointer;
                                    font-size: 12px;
                                    color: #777;
                                    font-weight: 600;
                                    letter-spacing: .5px;
                                }
                                .inputcolorDemo{
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    position: relative;
                                    border-radius: 50%;
                                    border: 1px solid #eee;
                                }
                            }
                        }
                        .trimul_sw5{
                            margin-top: 30px;
                            .trimli{
                                width: 100%;
                                .short_rng{
                                    width: inherit;
                                }
                            }
                        }
                        html::-webkit-scrollbar,
                        .trim_demo::-webkit-scrollbar{
                            width: 5px;
                            background: rgb(232, 232, 232);
                            border-radius: 3px;
                        }
                        html::-webkit-scrollbar-thumb,
                        .trim_demo::-webkit-scrollbar-thumb{
                            background: red;
                            border-radius: 4px;
                            width: 5px;
                        }
                    }
                }
                .host_one{
                    border: 1px dashed #ddd;
                }
                .cat_four{
                    margin-top: 30px;
                    border: 1px solid #ddd;
                }
                .trim_slider{
                    padding-top: 30px;
                    .nprduct{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #000;
                        padding: 8px 0;
                        i{
                            font-size: 20px;
                            color: #222;
                            opacity: .6;
                            margin-left: 10px;
                            cursor: pointer;
                        }
                        .trmh4{
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #222;
                            line-height: 24px;
                            letter-spacing: .05em;
                            margin: 0;
                        }
                    }
                    .timplate{
                        display: block;
                        .item_pass{
                            display: block;
                            .tim{
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                padding: 15px 15px 15px 0!important;
                                .tim_img{
                                    display:block;
                                    width: 110px;
                                    height: 160px;
                                    img{
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .tim_txt{
                                    display:block;
                                    margin-left: 10px;
                                    .txt_link5{
                                        .belfont{
                                            display: block;
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #777;
                                            line-height: 24px;
                                        }
                                        .offer_49{
                                            display: block;
                                            h4{
                                                color:#3e3e3e;
                                                .delete{
                                                    font-size: 14px;
                                                    color: #aaa;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .sidebar_bannerWmn{
                    margin-top: 30px;
                    img{
                        width:100%;
                        height: fit-content;
                    }
                }
            }
            .wmanFashion12{
                padding-left: 12px;
                .wman_laugh{
                    max-width: 100%;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
                .wman_fsn{
                    padding-top: 35px;
                    h4{
                        font-weight: 600;
                        color: #444;
                        margin-bottom: 15px;
                    }
                    h5{
                        font-size: 16px;
                        font-weight: 600;
                        color: #444;
                        letter-spacing: 1px;
                        line-height: 1.2;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.5;
                        color: #777;
                        margin-bottom: 0;
                    }
                }
                .history_cookies{
                    width: 100%;
                    display: flex;
                    padding: 20px 0;
                }
                .product_short_table{
                    width: 100%;
                    display: flex;
                    border-top: 1px solid #777;
                    border-bottom: 1px solid #777;
                    .count_till{
                        width: 35%;
                        padding: 20px;
                    }
                    .show_grid{
                        width: 40%;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        gap:15px;
                        border-left: 1px solid #777;
                        border-right: 1px solid #777;
                        img{
                            width: unset;
                            height: 18px;
                            display: inline-block;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                        img:nth-child(3){
                            padding-left: 80px;
                        }
                        i{
                            cursor: pointer;
                        }
                        .fa-list{
                            font-size: 18px;
                        }
                    }
                    .shorting_item{
                        width: 25%;
                        display: grid;
                        place-items: center;
                        select{
                            border: none;
                            text-transform: capitalize;
                            i{
                                display: none;
                            }
                            option{
                                text-transform: capitalize;
                                font-size: 16px;
                                font-weight: 400;
                                color: #222;
                                line-height: 24px;
                                letter-spacing: .05em;
                            }
                        }
                    }
                }
                .stylefason_Img{
                    padding-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .main-collection{
                        margin: 0 5px;
                        .display{
                            max-width: 245px;
                            height: auto;
                            display: block;
                            position: relative;
                            a{
                                img.active{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                img{
                                    display: none;
                                }
                            }
                            @include new-product;
                            @include on-sale;
                            .thumb{
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 15%;
                                display: flex;
                                flex-direction: column-reverse;
                                .min_img{
                                    width: 100%;
                                    margin: 1px 0;
                                    img{
                                        width: 100%;
                                        height: fit-content;
                                        filter: opacity(.3);
                                    }
                                    img.actv{
                                        filter: opacity(1);
                                    }
                                }
                            }
                            .r-icn_ovrly{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                width: 10%;
                                display: flex;
                                flex-direction: column-reverse;
                                align-items: center;
                                opacity: 0;
                                visibility: hidden;
                                .icon_right{
                                    width: 100%;
                                    height: 20%;
                                    text-align: center;
                                    .Ancr{
                                        width: 100%;
                                        height: 20%;
                                        padding: 4px 0;
                                        i{
                                            color: #6f6f6f;
                                            font-size: 18px;
                                            transition: all linear .3s;
                                            &:hover{
                                                color:var(--theme-deafult);
                                            }
                                        }
                                        .fi-rr-shopping-cart{
                                            display: block;
                                            transform: rotateY(-180deg);
            
                                        }
                                        .fi-rr-refresh{
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                            &:hover .r-icn_ovrly{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        .rating{
                            svg{
                                width: 18px;
                                height: 17px;
                            }
                            h5{
                                color:#777;
                            }
                            h4{
                                font-size: 18px;
                                color: #222;
                                font-weight: 700;
                                margin-bottom: 0;
                                transition: all .5s ease;
                                span{
                                    font-size: 14px;
                                    font-weight: 400;
                                    color:#aaa;
                                    letter-spacing: .03em;
                                }
                            }
                        }
                        .dot-ul{
                            padding-top: 7px;
                            .lidot{
                                display: inline-block;
                                height: 20px;
                                width: 20px;
                                border-radius: 100%;
                                margin-right: 5px;
                                transition: all .1s ease;
                                cursor: pointer;
                                vertical-align: middle;
                            }
                            .disc1{
                                background: #ffff00;
                            }
                            .disc2{
                                background: #ffffff;
                                border: 1px solid #000000;
                            }
                            .disc3{
                                background: #e53636;
                            }
                            .disc4{
                                background: #423a9e;
                            }
                            .disc5{
                                background: #000000;
                            }
                        }
                    }
                }
                .wmn_Sfsn{
                    margin: 50px 0;
                    border-top: 1px solid #777;
                    border-bottom: 1px solid #777;
                    border-right: 1px solid #777;
                    .pagination{
                        border-right: 1px solid #777;
                        .Ws_left{
                            li{
                                a{
                                    padding: 20px;
                                    border-bottom: 0;
                                    border-top: 0;
                                    color: #df0a0a;
                                }
                                i{
                                    padding: 23px 18px;
                                    color: #777;
                                    display: inline-block;
                                    font-size: 14px;
                                    border-left: 1px solid #777;
                                    border-right: 1px solid #777;
                                }
                            }
                        }
                    }
                    .prdct_sears{
                        justify-content: flex-end;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        border-right: 1px solid #dddddd;
                        padding-right: 15px;
                        h5{
                            color: #777;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: .05rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}